<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Admin index</title>
</head>
<body>


	<p th:text="${regresult}"></p>
	<p th:text="${error}"></p>
	<p th:text="${warning}"></p>
	<p th:text="${resultsettingsesult}"></p>

	<form action="/admin" method="get">
		<input type="radio" name="function" value="gL"> List of Games </input>
		</br>
		<input type="radio" name="function" value="nP"> Add new Player </input>
		</br>
		<input type="radio" name="function" value="nL"> Add new Place </input>
		</br>
		<input type="radio" name="function" value="nG"> Add new Game </input>
		</br>
		<input type="radio" name="function" value="nR"> Set result </input>
		</br>
		</br>
		<input type="submit">
	</form>


</body>
</html>