<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Main admin</title>
</head>
<body>

	<form action="/admin" method="get">
		<input type="radio" name="function" value="gL"> List of Games </input>
		<input type="radio" name="function" value="nP"> Add new Player </input>
		<input type="radio" name="function" value="nL"> Add new Place </input>
		<input type="radio" name="function" value="nG"> Add new Game </input>
		<input type="radio" name="function" value="gR"> Set result </input>
		</br>
		</br>
		<input type="submit">
	</form>


</body>
</html>