<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Game list</title>
</head>
<body>


	<p>Search by player </p>
	
	<form action="/searchbyplayer" method="get">
		<select name="PlayerName">
			<option value=""></option>
			<option th:each="player : ${players}" th:text="${player}" /></option>
		</select>	
	</form>
	
	</br>
	</br>
	
	
	<p>Search by place </p>
	
	<form action="/searchbyplace" method="get">
		<select name="PlaceName">
			<option value=""></option>
			<option th:each="place : ${places}" th:text="${place}" /></option>
		</select>	
	</form>
	
	</br>
	</br>



	<table>
    <tr>
        <th>Game id</th>
        <th>Game's date</th>
        <th>Place's name</th>
        <th>Place's address</th>
        <th>Place's rental fee HUF</th>
        <th>Place's rental fee EUR</th>
        <th>Player1's name</th>
        <th>Player2's name</th>       
        <th>Player1's score</th>
        <th>Player2's score</th>
        <th>Winner's name</th>
        
    </tr>
    <tr th:each="game : ${gameList}">
    	<td th:number="${game.id}"></td>
        <td th:text="${game.date}"></td> - formázás!
        ...
    </tr>
	</table>

</body>
</html>