<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add new place</title>
</head>
<body>

	<p th:text="${regresult}"></p>
	
	<p>Registration Form</p>
    <form action="/addnewplace" method="get">
        <input type="text" name="name" placeholder="Place's name" />
        </br>
        <input type="text" name="address" placeholder="Place's address" />
        </br>
        <input type="number" name="rentalfee" placeholder="Place's rental fee per hour in HUF" />
        </br>        
        <input type="submit" />
    </form>

</body>
</html>